@model IEnumerable<NacSiteF.Models.ACESSO>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Novo", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EMAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SENHA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ATIVO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PERFIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOME)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SENHA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ATIVO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PERFIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOME)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.ID_LOGIN }) |
                @Html.ActionLink("Detalhes", "Details", new { id=item.ID_LOGIN }) |
                @Html.ActionLink("Deletar", "Delete", new { id=item.ID_LOGIN })
            </td>
        </tr>
    }
    </table>
    @Html.ActionLink("Painel Admin", "Index", "Manager")
</body>
</html>
