@model NacSiteF.Models.INVESTIDOR

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>INVESTIDOR</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID_INVESTIDOR)
    
            <div class="form-group">
                @Html.LabelFor(model => model.NOME, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NOME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NOME, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.TELEFONE, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TELEFONE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TELEFONE, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ENDERECO, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ENDERECO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ENDERECO, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CIDADE, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CIDADE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CIDADE, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ESTADO, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                   @{
                       List<SelectListItem> listItems = new List<SelectListItem>();
                       listItems.Add(new SelectListItem
                       {
                           Text = "AC",
                           Value = "AC"
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "AL",
                           Value = "AL"
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "AP",
                           Value = "AP"
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "AM",
                           Value = "AM"
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "BA",
                           Value = "BA"
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "CE",
                           Value = "CE"
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "DF",
                           Value = "DF"
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "ES",
                           Value = "ES"
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "GO",
                           Value = "GO"
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "MA",
                           Value = "MA"
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "MT",
                           Value = "MT"
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "MS",
                           Value = "MS"
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "MG",
                           Value = "MG"
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "PA",
                           Value = "PA"
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "PB",
                           Value = "PB"
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "PR",
                           Value = "PR"
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "PE",
                           Value = "PE"
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "PI",
                           Value = "PI"
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "RJ",
                           Value = "RJ"
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "RN",
                           Value = "RN"
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "RS",
                           Value = "RS",
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "RO",
                           Value = "RO",
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "RR",
                           Value = "RR",
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "SC",
                           Value = "SC",
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "SP",
                           Value = "SP",
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "SE",
                           Value = "SE",
                       });
                       listItems.Add(new SelectListItem
                       {
                           Text = "TO",
                           Value = "TO",
                       });
                }

                @Html.DropDownListFor(model => model.ESTADO, listItems, "Selecione")
                @Html.ValidationMessageFor(model => model.ESTADO, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
